{% comment %}
  This message is localized defined in 'locales/en.default.json' and other locale files.
  See https://shopify.dev/docs/themes/architecture/locales/storefront-locale-files
{% endcomment %}
{% if customer %}
  <p>👋 {{ 'snipets.hello.text' | t: name: customer.name }}</p>
{% endif %}
