{% comment %}
  *** Customer login page ***
{% endcomment %}
<div class="my_section my_account">
  <!-- Customer login section -->
  {% render 'section_title' %}

  {% comment %}
    This message is localized defined in 'locales/en.default.json' and other locale files.
    See https://shopify.dev/docs/themes/architecture/locales
  {% endcomment %}
  <h2>{{ 'sections.customer_login.message' | t }}</h2>

  <p>
    📘
    <a
      href="https://help.shopify.com/{{ request.locale.iso_code }}/manual/customers/customer-accounts/new-customer-accounts"
      target="_blank"
      >Help</a
    >
  </p>

  {% render 'home' %}
</div>
