<div class="my_section my_header">
  <div class="my_block_title">Section</div>

  <h1>{{ section.settings.title }}</h1>

  <p style="text-align: right; margin-right: 1em;">
    👤 <a href="">My page</a>&nbsp;&nbsp;&nbsp;&nbsp;
    🛒 <a href="">My cart</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <select onchange="changeLang(this);">
      <option value="">Choose your language</option>
      <option value="/">English</option>
      <option value="/ja">Japanese</option>
    </select>
  </p>

  {% for block in section.blocks %}
    <div class="my_block">
      <div class="my_block_title">Block ({% increment i %})</div>

      {% case block.type %}
        {% when 'my_type_1' %}
          <div>{{ block.settings.my_logo | img_url: 'medium' | img_tag }}</div>
        {% when 'my_type_2' %}
          <div style="background-color: {{ block.settings.my_color }};">&nbsp;</div>
      {% endcase %}
    </div>
  {% endfor %}

  <p>👉 <a href="https://shopify.dev/docs/themes/architecture/layouts" target="_blank">Read dev. doc</a></p>
</div>

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title",
      "default": "THIS IS MY HEADER"
    }
  ],
  "limit": 1,
  "blocks": [
    {
      "name": "My Logo",
      "type": "my_type_1",
      "settings": [
        {
          "type": "image_picker",
          "id": "my_logo",
          "label": "My Logo"
        }
      ]
    },
    {
      "name": "My Color",
      "type": "my_type_2",
      "settings": [
        {
          "type": "color",
          "id": "my_color",
          "label": "My Color"
        }
      ]
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  },
  "max_blocks": 3
}
{% endschema %}
